{% extends 'base.html' %}
<!-- header  -->

{% block header %} {% include 'header.html' %}{% endblock header %}
 <!-- header   -->

 
 {% block content %}


    <!-- Password reset sent  -->
    <div class="containser chicken my-5 p-5">
        <div class="row justify-content-center">
            <div class="col-10 col-sm-8 bg-warning text-white p-5">
                <h2 class="bg-secondary mt-3 text-center py-3 px-5">Password reset sent</h2>
                <hr>
                <p> we have emailed to you the instructions for resetting your password,
                    if your account exists with the email you entered.
                    You should received them shortly.
                </p>
                <p>If you don't receive an email, 
                    please make sure you have entered the address you registered with,
                    and check your spam folder.
                </p>
            </div>
        </div>
    </div>
 {% endblock content %}
    