{% extends 'base.html' %}


{% block title %} Password reset confirm {% endblock title %}
    <!-- header  -->
{% block header %} {% include 'header.html' %} {% endblock header %}
    <!-- header      -->

    
    {% block content %}
    <!-- Password Reset Confirm -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-10 col-sm-8 bg-warning text-white">
                <h2 class="bg-secondary mt-3 text-center py-3">Password Reset Confirm</h2>
                <hr>
                <p>Please enter your new password.</p>
                <form class="p-5" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                    <button class="btn btn-secondary text-white my-3" type="submit">Confirm Password Reset</button>
                </form>
            </div>
        </div>
    </div>
     <!-- Password Reset Confirm done -->  
    {% endblock content %}
        