{% extends 'base.html' %}
{% load humanize %}
        
{% block title %}{{profile.user.username|title}}'s Shopcart{% endblock title %}

<!-- header     -->
{% block header %}{% include 'header.html' %} {% endblock header %}
<!--  header  -->


<!-- special offers  -->
<!-- {% block specials %}{% include 'specials.html' %} {% endblock specials %} -->


   {% block content %}

   <section class="mt-5">
    <div class="container cart">
      <div class="table-responsive">
        <h2 class="text-center text-secondary py-4">{{profile.first_name|title}} your Shopcart</h2>
        <table class="table">
          <thead class="thead bg-dark">
            <tr>
              <th scope="col" class="text-white">Delete</th>
              <th scope="col" class="text-white">Price</th>
              <th scope="col" class="text-white">Quantity</th>
              <th scope="col" class="text-white">Total</th>
            </tr>
          </thead>
          <tbody>
            {% if shopcart %}
             {% for item in shopcart %}
            <tr>
              <td>
                <form action="{% url 'deletemeal' %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="dishid" value="{{item.id}}">
                  <button type="submit" onclick="return confirm('Are you sure you want to delete an item from this basket')" class="btn btn_transparent text_danger"><i class="fa-solid fa-trash"></i></button>
                 <!-- <button type="checbox"><a href="">deletemeal</a></button> -->
                </form>
            
                <div class="main">
                  <div class="d-flex">
                    <img src="{{item.dish.image.url}}" alt="">
                  </div>
                  <div class="des">
                    <p>{{item.c_name}}</p>
                  </div>
                </div>
              </td>
              <td>
                <h6>₦{{item.c_price|floatformat:2|intcomma}}</h6>
              </td>
              <td>
                
                <div class="counter d-flex">
                 <form action="{% url 'decrease' %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="itemid" value="{{item.id}}">
                  <input type="hidden" name="decrease" value="1" min="{{item.dish.min}}" max="{{item.dish.max}}">
                  <button type="submit" class="bg-transparent border-0"><i class="fa-solid fa-circle-minus text-danger border-0"></i></button>
                </form>
                <span>{{item.quantity}}</span>
                  <form action="{% url 'increase' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="itemid" value="{{item.id}}">
                    <input type="hidden" name="increase" value="1" min="{{item.dish.min}}" max="{{item.dish.max}}">
                    <button type="submit" class="bg-transparent border-0"><i class="fa-solid fa-circle-plus text-success border-0"></i></button>
                    
                  </form>
                 
                </div>
              </td>
              <td>
                <h5>₦{{item.amount|floatformat:2|intcomma}}</h5>
              </td>
            </tr>
            {% endfor %}
          {% endif %}
            <!--  -->
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <div class="col-lg-4 offset-lg-4">
    <div class="checkout">
      <ul>
        <li class="removecart">removecart
          <span><form action="{% url 'removecart' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="dishid">
          <button type="submit" class="btn btn-transparent bg-warning border-0++ text-danger"><i class="fa-solid fa-trash"></i></button>
        </form></span>
      </li>
        <li class="Subtotal">Subtotal
          <span>₦{{subtotal|floatformat:2|intcomma}}</span>
        </li>
        <li class="cart-total">Vat
          <span>₦{{vat|floatformat:2|intcomma}}</span>
        </li>
        <li class="cart-total">Total
          <span>₦{{total|floatformat:2|intcomma}}</span>
        </li>
      </ul>
      <a href="{% url 'checkout' %}" class="proceed-btn">Proceed To checkout</a>
    </div>
  </div>

  {% endblock content %}
<!-- main content section ends   -->


<!--- footer -->
{% block footer %}{% include 'footer.html' %}{% endblock footer %}
<!--- footer done -->