    {% extends 'base.html' %}
    {% block title %}{{cat_title}}{% endblock title %}
    <!-- header     -->
    {% block header %}{% include 'header.html' %} {% endblock header %}

    <!--  header  -->

    <!-- showcase  -->
    {% block showcase %}{% include 'showcase.html' %}{% endblock showcase %}
    <!-- showcase  -->



    {% block content %}
        <section class="meals">
            <div class="container">
              <h2 class="text-center mt-5 mb-5"><i class="fa-solid fa-bowl-food"></i> Meals</h2>
            </div>

            <div class="container">
              <div class="row justify-content-center gy-5 gx-4">
                {% if single_category %}
                    {% for item in single_category %} 
                        <div class="col-5 col-sm-4 col-md-3 col-lg-2 col-xl-4">
                            <div class="card">
                            <a href="{% url 'detail' item.id %}"><img src="{{item.image.url}}" class="card-img-top"></a>
                            <div class="card-body text-center">
                                <h3 class="card-title">Category: {{item.name|title}}</h3>
                                <h3 class="card-title">Meal: {{item.name|title}}</h3>
                                <p class="card-text">Price: ₦{{item.price}}</p>
                                <p class="card-text text-truncate">Description: {{item.description|title}}</p>
                                    <!-- <p class="card-text text-truncate">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                    <!-- <a href="#" class="btn btn-secondary"><i class="fa-solid fa-cart-arrow-down"></i></a> -->
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
              </div>
            </div>
          </section>
    {% endblock content %}
    <!-- main content section ends   -->


    <!--- footer -->
    {% block footer %}{% include 'footer.html' %}{% endblock footer %}
                <!--- footer done -->